body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("../images/hotel-wallpaper-black.png");
}

header {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #f5f5f5;
    width: 100%;
}

#header-1 {
    position: relative;
    width: 100%;
    height: 0 0 90px 0;
    margin: 0 0 65px 0;
    border-width: 0 0 1px 0;
    border-color: #696969;
    border-style: solid;
    background-color: #f5f5f5;
}

#my-logo {
    background: #8b0000;
    width: 20%;
    margin: 0px 0px 0px 200px;
    text-align: center;
    padding: 10px 0 10px 0px;
}

#about {
    font-family: Arial, Helvetica, sans-serif;
    border-width: 0 1px 0 0;
    border-color: #696969;
    border-style: solid;
    width: 50px;
    padding: 30px 20px 30px 10px;
    right: 215px;
    bottom: 0%;
    position: absolute;
    text-align: center;
}

#portfolio {
    font-family: Arial, Helvetica, sans-serif;
    border-width: 0 1px 0 0;
    border-color: #696969;
    border-style: solid;
    width: 50px;
    padding: 30px;
    right: 120px;
    bottom: 0%;
    position: absolute;
    text-align: center;
}

#contact {
    font-family: Arial, Helvetica, sans-serif;
    width: 50px;
    padding: 30px 10px 30px 30px;
    position: absolute;
    right: 45px;
    bottom: 0%;
    text-align: center;
}

.container {
    width: 960px;
    margin: 0 auto;
    background-color: #f5f5f5;
    padding: 10px;
}

h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #8b0000;
    padding: 0 0 20px 0;
    margin: 0 0 30px 0;
    border-width: 0 0 1px 0;
    border-color: #696969;
    border-style: solid;
}

#bio-pic {
    width: 200px;
    height: 200px;
    float: left;
    padding: 0 20px 10px 0;
    margin: 5px;
}

.portfolio-links {
    width: 700px;
    margin: 0 auto;
    background-color: #f5f5f5;
    height: 750px;
}

#pic1, #pic2, #pic3, #pic4, #pic5 {
    width: 200px;
    height: 200px;
    float: left;
    margin: 20px;
    position: relative;
}

#portfolio-1 {
    background: #8b0000;
    color: #ffffff;
    text-align: center;
    padding: 10px 54px 10px 57px;
    position: absolute;
    top: 434px;
    left: 345px;
}

#portfolio-2 {
    background: #8b0000;
    color:#ffffff;
    text-align: center;
    padding: 10px 53px 10px 48px;
    position: absolute;
    top: 434px;
    left: 585px;
}

#portfolio-3 {
    background: #8b0000;
    color:#ffffff;
    text-align: center;
    padding: 10px 59px 10px 54px;
    position: absolute;
    top: 674px;
    left: 345px;
}

#portfolio-4 {
    background: #8b0000;
    color: #ffffff;
    text-align: center;
    padding: 10px 65px 10px 54px;
    position: absolute;
    top: 674px;
    left: 585px;
}

#portfolio-5 {
    background: #8b0000;
    color: #ffffff;
    text-align: center;
    padding: 10px 25.5px 10px 25.5px;
    position: absolute;
    top: 914px;
    left: 345px;
}

#contact-table {
    width: 960px;
    height: 700px;
    margin: 0 auto;
    background: #f5f5f5;
    padding: 10px;
}
#name, #email {
    width: 850px;
}

#message {
    width: 850px;
    height: 350px;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #8b0000;
    color: #ffffff;
    text-align: center;
}

@media screen and (max-width: 980px) {
    body {
      background-color: url(../images/hotel-wallpaper-black.png);
    }


    .container {
        width: 550px;
        padding: 10px;
        margin: 0 0 0 20px;
    }

    #contact-table {
        width: 550px;
        margin: 0 0 0 20px;
    }

    #name, #email, #message {
        width: 475px;
    }

    .portfolio-links {
        width: 550px;
    }
  }
  
@media screen and (max-width: 768px) {
    body {
      background-color: url(../images/portfolio-about-me.png);
    }
  
    .container {
        width: 575px;
        padding: 10px;
        margin: 20px 20px 0 60px;
    }

    #contact-table {
        width: 575px;
        margin: 0 20px 0 60px;
    }

    #name, #email, #message {
        width: 500px;
    }

    .portfolio-links {
        width: 575px;
        height: 700px;
    } 

    #header-1 {
        width: 100%;
    }
    
    #my-logo {
        width: 40%;;
        padding: 1px;
        left: 1px;
    }

    #links {
        width: 60%;
        padding: 0;
    }

    #about {
        border-width: 0;
        left: 100px;
    }
    
    #portfolio {
        border-width: 0;
        left: 180px;
    }

    #contact {
        left: 280px;
    }

}

@media screen and (max-width: 640px) {
    body {
      background-color: url(../images/hotel-wallpaper-black.png);
    }

    #links {
        width: 100%;
        margin-bottom: 0%;
    }

    .container {
        width: 400px;
        padding: 10px;    
        margin: 20px 0 0 110px;
    }

    #contact-table {
        width: 400px;
        margin: 0px 0px 0px 110px;
    }

    #name, #email, #message {
        width: 325px;
    }

    .portfolio-links {
        width: 400px;
        height: 1200px;
    }
    
    #header-1 {
        width: 100%;
    }
    
    #my-logo {
        width:100%;
        margin: 0 auto;
        padding: 1px;
    }

    #links {
        width: 100%;
        height: 40px;
        padding: 0;
        text-align: center;
        top:40px;
        background-color: #f5f5f5;
    }

    #about {
        border-width: 0;
        left: 170px;
        top: 60px;
    }
    
    #portfolio {
        border-width: 0;
        left: 240px;
        top: 60px;
    }

    #contact {
        left: 340px;
        top: 60px;
    }
}
  